@{
    ViewBag.Title = "Home Page";
}
<div style="width:980px;margin:0 auto" class="section" id="literally-canvas">
    <!--Script references. -->
    <!--Reference the jQuery library. -->
    <!--<script src="Scripts/jquery-3.1.1.min.js"></script>-->
  

    <h1 class="success">Collaborative White Board</h1>

    <div style="display:none" id="myscreenshot">
        @ViewBag.myscreenshot

    </div>
    <h4 style="color:red" id="displayname"></h4>
    <div class="container">
        <div class="row">
            
            <input type="text" style="display:none" id="txtMessage" />
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group row">
                            
                            <div class="col-md-2">
                                <input type="button" class="btn-primary form-control" id="btnSaveScreenShot" value="Share with Friends" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" value="" id="linkURL" />
                            </div>
                            <div class="col-md-6">
                                <span id="spanName" style="display:none" class="text-left alert alert-success"></span>
                                <input type="text" class="form-control" style="display:none" id="txtUserName" />
                            </div>
                        
                     
                        </div>
                    </div>
                       
            </form>
        </div>
        <div class="row">
            <div id="myControl" class="my-drawing"></div>
        </div>
    </div>
</div>